# Описание
На этот раз данные имеют следующую структуру:

записываются для каждого пользователя, совершившего покупки, каждый день
для каждой даты есть своя папка, внутри неё – папки для каждого пользователя
внутри каждой папки есть файл data.csv, где и хранятся данные
Схематично выглядит так:

```
└── data
   ├── 2020-12-30
   │  ├── FirstName_LastName1
   │  │   └── data.csv
   │  ├── FirstName_LastName2
   │  │   └── data.csv
   │  └── FirstName_LastName3
   │      └── data.csv
   └── 2020-12-31
      ├── FirstName_LastName1
      │   └── data.csv
      └── FirstName_LastName5
          └── data.csv
```

Например, 30 декабря три покупателя сделали покупки, 31 – два 
(папки 2020-12-30 и 2020-12-31 соответственно). Поскольку клиент FirstName_LastName1 купил товары в оба дня, для него имеется папка в папке для каждой из дат. Для других клиентов – по одной.

Note: данные в задании покрывают другой временной период, имена тоже другие. Подробности, примеры и возможные подсказки можно найти в текстах следующих шагов.

      

# Задачи
1. Соберите все данные из папки data в один датафрэйм, имеющий следующие столбцы: колонки из самих файлов (product_id, quantity), а также имя пользователя (name), и дата этих покупок (date), соответствует названию папки, где лежит папка с пользователем)
2. Выясните, какой пользователь купил больше всего товаров. Если их несколько, то перечислите имена через запятую с пробелом и в алфавитном порядке.
3. Найдите топ-10 товаров по числу проданных единиц за всё время и постройте барплот. Сколько было продано единиц товара с product_id==56?
4. Визуализируйте продажи по дням.
5. Сколько пользователей приобрели какой-либо товар повторно (более 1 раза)?

Повтором будем считать покупку товара с одинаковым product_id, совершенную в разные дни.

## Первый способ

In [3]:
import os
import pandas as pd

In [5]:
os.getcwd()

'/Users/marypishykina/Desktop/Аналитика/Karpov/Lesson_4'

In [33]:
path = '/Users/marypishykina/Desktop/Аналитика/Karpov/Lesson_4/data'

In [101]:
path_parts = '/Users/marypishykina/Desktop/Аналитика/Karpov/Lesson_4/data'.split('/')
date = path_parts[-2]
name = path_parts[-1]
print(date, name)

Lesson_4 data

In [13]:
os .listdir('/Users/marypishykina/Desktop/Аналитика/Karpov/Lesson_4/data/2020-12-08/Alexey_Fedorov')

['data.csv']

In [19]:
pd.read_csv('/Users/marypishykina/Desktop/Аналитика/Karpov/Lesson_4/data/2020-12-08/Alexey_Fedorov/data.csv')

   Unnamed: 0  product_id  quantity
0           0          73         5
1           1          34         1
2           2          71         1
3           3          18         2
4           4          67         2

In [27]:
os.walk(path)

In [107]:
# Create df for all data
df = pd.DataFrame() 

# Read data from all files and add it to general df
for current_path, dirs, files in os.walk(path):
    # current_path = triple[0]
    # dirs = triple[1]
    # files = triple[2]

    # перебор всех файлов data.csv
    for file in files:
        # Construct full path to file
        data_path = f'{current_path}/{file}'

        # Read data
        temp_df = pd.read_csv(data_path)

        # Extract date and name 
        path_parts = current_path.split('/')
        date = path_parts[-2]
        name = path_parts[-1]
        
        # Add date and name columns
        temp_df['date'] = date
        temp_df['name'] = name

        # Insert data into main df
        df = pd.concat((df, temp_df))
        print(df.shape)

(4, 5)
(9, 5)
(15, 5)
(16, 5)
(22, 5)
(27, 5)
(33, 5)
(37, 5)
(40, 5)
(41, 5)
(46, 5)
(47, 5)
(50, 5)
(54, 5)
(55, 5)
(58, 5)
(62, 5)
(66, 5)
(68, 5)
(70, 5)
(73, 5)
(75, 5)
(81, 5)
(85, 5)
(87, 5)
(92, 5)
(95, 5)
(101, 5)
(104, 5)
(106, 5)
(109, 5)
(115, 5)
(120, 5)
(122, 5)
(126, 5)
(132, 5)
(134, 5)
(137, 5)
(140, 5)
(146, 5)
(151, 5)
(153, 5)
(155, 5)
(161, 5)

In [111]:
df

    Unnamed: 0  product_id  quantity        date             name
0            0          56         4  2020-12-06  Vasiliy_Fedorov
1            1          97         3  2020-12-06  Vasiliy_Fedorov
2            2          79         3  2020-12-06  Vasiliy_Fedorov
3            3          29         5  2020-12-06  Vasiliy_Fedorov
0            0          73         5  2020-12-08   Alexey_Fedorov
..         ...         ...       ...         ...              ...
1            1           3         4  2020-12-04   Kirill_Fedorov
2            2          89         5  2020-12-04   Kirill_Fedorov
3            3          75         2  2020-12-04   Kirill_Fedorov
4            4          41         5  2020-12-04   Kirill_Fedorov
5            5          32         4  2020-12-04   Kirill_Fedorov

[161 rows x 5 columns]

In [113]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df

    product_id  quantity        date             name
0           56         4  2020-12-06  Vasiliy_Fedorov
1           97         3  2020-12-06  Vasiliy_Fedorov
2           79         3  2020-12-06  Vasiliy_Fedorov
3           29         5  2020-12-06  Vasiliy_Fedorov
0           73         5  2020-12-08   Alexey_Fedorov
..         ...       ...         ...              ...
1            3         4  2020-12-04   Kirill_Fedorov
2           89         5  2020-12-04   Kirill_Fedorov
3           75         2  2020-12-04   Kirill_Fedorov
4           41         5  2020-12-04   Kirill_Fedorov
5           32         4  2020-12-04   Kirill_Fedorov

[161 rows x 4 columns]

In [117]:
df.reset_index(drop=True, inplace=True)
df

     product_id  quantity        date             name
0            56         4  2020-12-06  Vasiliy_Fedorov
1            97         3  2020-12-06  Vasiliy_Fedorov
2            79         3  2020-12-06  Vasiliy_Fedorov
3            29         5  2020-12-06  Vasiliy_Fedorov
4            73         5  2020-12-08   Alexey_Fedorov
..          ...       ...         ...              ...
156           3         4  2020-12-04   Kirill_Fedorov
157          89         5  2020-12-04   Kirill_Fedorov
158          75         2  2020-12-04   Kirill_Fedorov
159          41         5  2020-12-04   Kirill_Fedorov
160          32         4  2020-12-04   Kirill_Fedorov

[161 rows x 4 columns]

In [119]:
df.quantity.sum()

480

## Второй способ

In [125]:
from pathlib import Path

In [ ]:
path = '/Users/marypishykina/Desktop/Аналитика/Karpov/Lesson_4/'

In [127]:
Path(path)

PosixPath('/Users/marypishykina/Desktop/Аналитика/Karpov/Lesson_4/data')

In [129]:
dir(path)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [149]:
# Create df for all data
df = pd.DataFrame() 

# Read data from all files and add it to general df
for current_path, dirs, files in os.walk(path): 
    for file in files:
        part_path = Path(current_path)
        data_path = part_path / file

        # Read data
        temp_df = pd.read_csv(data_path) 

        # Extract date and name 
        date = path_parts[-3]
        name = path_parts[-2]
        
        # Add date and name columns
        temp_df['date'] = date
        temp_df['name'] = name

        # Insert data into main df
        df = pd.concat((df, temp_df))
        print(df.shape)

(4, 5)
(9, 5)
(15, 5)
(16, 5)
(22, 5)
(27, 5)
(33, 5)
(37, 5)
(40, 5)
(41, 5)
(46, 5)
(47, 5)
(50, 5)
(54, 5)
(55, 5)
(58, 5)
(62, 5)
(66, 5)
(68, 5)
(70, 5)
(73, 5)
(75, 5)
(81, 5)
(85, 5)
(87, 5)
(92, 5)
(95, 5)
(101, 5)
(104, 5)
(106, 5)
(109, 5)
(115, 5)
(120, 5)
(122, 5)
(126, 5)
(132, 5)
(134, 5)
(137, 5)
(140, 5)
(146, 5)
(151, 5)
(153, 5)
(155, 5)
(161, 5)

In [151]:
df

    Unnamed: 0  product_id  quantity  date        name
0            0          56         4  data  2020-12-04
1            1          97         3  data  2020-12-04
2            2          79         3  data  2020-12-04
3            3          29         5  data  2020-12-04
0            0          73         5  data  2020-12-04
..         ...         ...       ...   ...         ...
1            1           3         4  data  2020-12-04
2            2          89         5  data  2020-12-04
3            3          75         2  data  2020-12-04
4            4          41         5  data  2020-12-04
5            5          32         4  data  2020-12-04

[161 rows x 5 columns]

In [147]:
data_path.parts

('/',
 'Users',
 'marypishykina',
 'Desktop',
 'Аналитика',
 'Karpov',
 'Lesson_4',
 'data',
 '2020-12-04',
 'Kirill_Fedorov',
 'data.csv')